build/**
deps/**
local/**
**/CMakeFiles/**
**/Makefile
lib/**/CMakeFiles/**
lib/**/Makefile
lib/**/cmake_install.cmake
lib/**/CMakeCache.txt
lib/**/install_manifest.txt
lib/**/progress.marks
/*.dir/
/*.dir/**
/*.dSYM/
/*.dSYM/**

# CMake cache & install scripts
CMakeCache.txt
cmake_install.cmake
cmake_uninstall.cmake
install_manifest.txt
CPackConfig.cmake
CPackSourceConfig.cmake
compile_commands.json

# Generated headers/binaries
config.h
krane
ktech

# macOS noise
.DS_Store
*.txt
*.cmake

*.o
*.so
*.a
*.dll
*.exe

*.tar.gz
*.zip
releases
releases/*
